@page
@model IllyridAssist.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>The time on the server is @DateTime.Now</h3>
    <p></p>
    Test Trigger for Notification Population--> <form asp-page-handler="ParseXML" method="post">
    <button class="btn btn-default">CLICK ME</button>
</form>
    <p></p>
    <h3>@Model.Message</h3>
</div>


