@page
@model IllyridAssist.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to IllyAssist</h1>
    <p></p>
</div>
<div class="row">
    <h3><p>June 1st, 2020 Release notes - v0.1.0b</p></h3>
</div>
<p></p>
<div class="row">
    <p></p>
    <b>Features & Functionality</b>
    <p></p>
    <ul>
        <li>Added ability to manually enter your API Key for Notifications.</li>
        <li>Added ability to update Notificaiton API Key.</li>
        <li>Added ability to track Rare Minerals, Quantity and Type by Region.</li>
        <li>Added ability to track quantity of Rare Minerals in a node by city that sent Harvesters.</li>
        <li>Added ability to track Rare Herbs, Quantity and Type by Region.</li>
        <li>Added ability to track quantity of Rare Minerals in a node by city that sent Harvesters.</li>
        <li>Added Feature to click Grid Coordinates and open location on Illyriad Map. (Illyriad must be logged in through the same browser.)</li>
    </ul>
</div>


