@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>The time on the server is @DateTime.Now</h3>

    Test Trigger for Notification Population--> <form method="post"><input type="submit" value="Update Notifications"/></form>
</div>
