@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>The time on the server is @DateTime.Now</h3>

    <p>Test Trigger for XML read --> <input type="button" value="GetXML" id="getXml" /></p>
</div>
