@page
@model IllyriadAssist.Pages.API.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>API Settings</h1>

<h4>Enter your API Information Below (Read the Instructions)</h4>
<hr />
<div class="row">
    <p>Below are two fields that need to be filled in to register your API Keys with this application.</p>
    <p>
        <b>Notification</b> - The Notification API key pulls your notifications in order to update information.  For the API Type you would enter
        the code NOTI.  Then for the box API Key you would generate your API key located
        <a href>https://elgea.illyriad.co.uk/#/Player/Account?page=api<b>here.</b></a> Once at the location, click the generate button to the
        right of "Recent Notifications".  Now copy the Key that generated for Recent Notifications and past in the box below called API Key.
    </p>
    <p>
        <b>InGame Mail</b> - The InGame Mail API key pulls your in game mails in order to update information.  For the API Type you would enter
        the code MAIL.  Then for the box API Key you would generate your API key located
        <a href>https://elgea.illyriad.co.uk/#/Player/Account?page=api<b>here.</b></a> Once at the location, click the generate button to the
        right of "InGame Mail".  Now copy the Key that generated for Recent Notifications and past in the box below called API Key.
    </p>
    <p>
        <b>IMPORTANT</b> - This is a locally run application.  The keys are private and stored on your computer.  This application does <b><u>NOT</u></b>
         send this information or any information obtained from your API Keys to any other 3rd party sources.  The application itself only stores certain 
         types of notifications and InGame mails that are specific to the functionality.  The rest are deleted.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="APISettings.APIType" class="control-label"></label>
                <input asp-for="APISettings.APIType" class="form-control" />
                <span asp-validation-for="APISettings.APIType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APISettings.APIKey" class="control-label"></label>
                <input asp-for="APISettings.APIKey" class="form-control" />
                <span asp-validation-for="APISettings.APIKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
