@page
@model IllyriadAssist.Pages.harvestableInventory.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>illyData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="illyData.RecordID" />
            <div class="form-group">
                <label asp-for="illyData.APINotificationID" class="control-label"></label>
                <input asp-for="illyData.APINotificationID" class="form-control" />
                <span asp-validation-for="illyData.APINotificationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.APINotificationTypeID" class="control-label"></label>
                <input asp-for="illyData.APINotificationTypeID" class="form-control" />
                <span asp-validation-for="illyData.APINotificationTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.APINotificationCategoryID" class="control-label"></label>
                <input asp-for="illyData.APINotificationCategoryID" class="form-control" />
                <span asp-validation-for="illyData.APINotificationCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.APINotificationCategory" class="control-label"></label>
                <input asp-for="illyData.APINotificationCategory" class="form-control" />
                <span asp-validation-for="illyData.APINotificationCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.APINotificationType" class="control-label"></label>
                <input asp-for="illyData.APINotificationType" class="form-control" />
                <span asp-validation-for="illyData.APINotificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.CityName" class="control-label"></label>
                <input asp-for="illyData.CityName" class="form-control" />
                <span asp-validation-for="illyData.CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.CityXGrid" class="control-label"></label>
                <input asp-for="illyData.CityXGrid" class="form-control" />
                <span asp-validation-for="illyData.CityXGrid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.CityYGrid" class="control-label"></label>
                <input asp-for="illyData.CityYGrid" class="form-control" />
                <span asp-validation-for="illyData.CityYGrid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.IllyriadCode" class="control-label"></label>
                <input asp-for="illyData.IllyriadCode" class="form-control" />
                <span asp-validation-for="illyData.IllyriadCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.ItemCategory" class="control-label"></label>
                <input asp-for="illyData.ItemCategory" class="form-control" />
                <span asp-validation-for="illyData.ItemCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.ItemXGrid" class="control-label"></label>
                <input asp-for="illyData.ItemXGrid" class="form-control" />
                <span asp-validation-for="illyData.ItemXGrid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.ItemYGrid" class="control-label"></label>
                <input asp-for="illyData.ItemYGrid" class="form-control" />
                <span asp-validation-for="illyData.ItemYGrid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.GridQuantity" class="control-label"></label>
                <input asp-for="illyData.GridQuantity" class="form-control" />
                <span asp-validation-for="illyData.GridQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.IllyRegionID" class="control-label"></label>
                <input asp-for="illyData.IllyRegionID" class="form-control" />
                <span asp-validation-for="illyData.IllyRegionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="illyData.NotificationDate" class="control-label"></label>
                <input asp-for="illyData.NotificationDate" class="form-control" />
                <span asp-validation-for="illyData.NotificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
